<a href="https://colab.research.google.com/github/cocolleen/OOP-1-2/blob/main/OOP_CONCEPTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X = 6
  print(X)      #case sensitive

6

Creating Objects

In [4]:
class OOP1_2:
  def __init__(self, name,age):
      self.name = name          #attributes
      self.age = age

  def identity(self):
    print(self.name, self.age)
  
person = OOP1_2("Colleen", 19)

print(person.identity)

<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7fb484f477d0>>

In [7]:
class OOP1_2:
  def __init__(self, name,age):
      self.name = name          #attributes
      self.age = age

  def identity(self):
    print(self.name, self.age)
  
person = OOP1_2("Colleen", 19)

print(person.name)
print(person.age)
print(person.identity)

Colleen
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7fb484f00290>>

In [9]:
#Modify the Object Name

person.name = "Lliee"
print(person.name)
print(person.age)

Lliee
19

In [10]:
#Delete the Objects

del person.name

In [14]:
print(person.age)
print(person.name)

19

AttributeError: ignored

Application 1 - Wrote a Python program that computes the area of a Square, sides as attribute.

In [20]:
class Square:
  def __init__(self, sides):
    self.sides = sides
  
  def area(self):
    return self.sides * self.sides    #formula to compute the area of the square

  def display(self):
    print("The area of a square is ", self.area() )

square = Square(4)

square.display()

The area of a square is  16

Application 2 - is to write a python program that displays full name, age, course, school. Create a class named MyClass, and name, age, and school as attributes

In [26]:
class MyClass:
  def __init__(self, name, age, school, course):
    self.name = name
    self.age = age
    self.school = school
    self.course = course
  
  def display(self):
    print(self.name, self.age, self.school, self.course)

person = MyClass("Colleen M. Quijano", "19 years old", "Cavite State University", "Computer Engineering")

print("Hi! I am ", person.name)
print("I am ", person.age)
print("Studying at", person.school)
print("Currently taking Bachelor of Science in ", person.course)

Hi I am  Colleen M. Quijano
I am  19 years old
Studying at Cavite State University
Currently taking Bachelor of Science in  Computer Engineering